{{ "{% extends 'template.html.twig' %}" }}

{{ "{% block content %}" }}
<article id="home">
    {{ "{% block title %}" }}<h1>Home</h1>{{ "{% endblock title %}" }}
    <p>Hello world!</p>
</article>
{{ "{% endblock content %}" }}

